<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf-8">
        <title>Prueba Angular 1</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

        <!-- Underscore -->
        <script src="http://underscorejs.org/underscore-min.js" charset="utf-8"></script>

        <script src="tardios.js" charset="utf-8"></script>
    </head>
    <body>

        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Prueba Angular - To Do</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <div class="container" ng-app="reporteTardiosApp">

            <div class="row" ng-controller="OrganizacionController as organizacion" >

                <div class="col-md-12">
                    <h6 class="text-right">Buscando de {{organizacion.desde | date}} hasta {{organizacion.hasta | date}} </h6>
                </div>

                <div class="col-sm-4"  >
                    <form  ng-submit="organizacion.buscar()" >
                        <div class="form-group">
                            <label for="desde">Desde</label>
                            <input class="form-control"
                                type="date" ng-model="organizacion.desde" >
                        </div>

                        <div class="form-group">
                            <label for="hasta">Hasta</label>
                            <input class="form-control"
                                type="date" ng-model="organizacion.hasta" >
                        </div>

                        <div class="form-group">
                            <label for="turno">Turnos</label>
                            <select name="turno" class="form-control"
                                    ng-model="organizacion.turnoSeleccionado"
                                    ng-options="turno.nombre for turno in organizacion.turnos track by turno.id" >
                                <option value=""> -- Todos -- </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="departamento">Departamento</label>
                            <select name="departamento" class="form-control"
                                    ng-model="organizacion.departamentoSeleccionado"
                                    ng-options="departamento.nombre for departamento in organizacion.departamentos track by departamento.id" >
                                <option value=""> -- Todos -- </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="checador">Checador</label>
                            <select name="checador" class="form-control"
                                    ng-model="organizacion.checadorSeleccionado"
                                    ng-options="checador.nombre for checador in organizacion.checadores track by checador.id" >
                                <option value=""> -- Todos -- </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="empleados">Empleados</label>

                            <select class="form-control" name="empleados"
                                    multiple="multiple"
                                    ng-if="organizacion.empleadosFiltrados().length"
                                    ng-model="organizacion.empleadosSeleccionados"
                                    ng-options="empleado.nombre for empleado in organizacion.empleadosFiltrados() track by empleado.id" >
                            </select>

                            <input type="text" readonly
                                class="form-control"
                                ng-if="!organizacion.empleadosFiltrados().length"
                                value="No se encontraron empleados">

                        </div>

                        <div class="form-group">
                            <label for="Monitoreados">Monitoreados</label>
                            <input type="checkbox" ng-model="organizacion.monitoreados">
                        </div>

                    </form>
                </div>

                <div class="col-sm-8">

                    <table class="table">
                        <thead>
                            <th> id </th>
                            <th> empleado </th>
                            <th> fecha </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="asistencia in organizacion.getAsistencias()">
                                <td>{{asistencia.id}}</td>
                                <td>{{ organizacion.getEmpleado(asistencia.empleado).nombre}}</td>
                                <td>{{asistencia.fecha | date}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>

        </div> <!-- /container -->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </body>
</html>
